<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860915202843-gkf0u7a2l7dsqdq7diqe9ntb61lhdogp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860915202843-gkf0u7a2l7dsqdq7diqe9ntb61lhdogp</string>
	<key>API_KEY</key>
	<string>AIzaSyBaf8XmLT894RO7jmzMgWk-N9d_LqbnUZc</string>
	<key>GCM_SENDER_ID</key>
	<string>860915202843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.howdyprogrammer.HearMe</string>
	<key>PROJECT_ID</key>
	<string>hearus-20bfc</string>
	<key>STORAGE_BUCKET</key>
	<string>hearus-20bfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860915202843:ios:37278821b96e4556dbf1be</string>
	<key>DATABASE_URL</key>
	<string>https://hearus-20bfc.firebaseio.com</string>
</dict>
</plist>